android/app/src/debug/AndroidManifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="manifest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="uses-permission" maxOccurs="unbounded" />
                <xs:element name="application" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>